.likes {
    color:red;
}

.dislikes {
    color:black;
}

.count_likes {
    font-weight: normal;
}

.nav_pad {
    padding:20px ;
}

.log_reg {
    padding:50px 0px;
}

.fav_text {
    text-align: center;
}