{% extends 'ex/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
Index page
{% endblock title %}

{% block body %}
  <div class="row justify-content-center p-2">
    <div class="col-12 col-sm-10 col-md-6 col-lg-8">

      <table class="table">
        <thead class="thead-light">
          <tr>
            {% comment %} <th scope="col">Id</th> {% endcomment %}
            <th scope="col">Title</th>
            <th scope="col">Created</th>
            <th scope="col">When</th>
            <th scope="col">Synopsis</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for article in object_list %}
            <tr>
              {% comment %} <th scope="row">{{ article.id }}</th> {% endcomment %}
              <td>{{ article.title }}</td>
              <td>{{ article.created }}</td>
              <td>{{ article.created|timesince }}</td>
              <td>{{ article.synopsis|truncatechars:20 }}</td>
              <td>
                <a href="{% url 'ex:detail' article.id %}" class="btn btn-info">Read</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'ex:publish' %}" class="btn btn-primary btn active" role="button">Add new article</a>
    </div>
  </div>
{% endblock body %}

